/* color variables */
:root {
  --main-blue-color: #1e3d59;
  --main-white-color: #f5f0e1;
  --main-orange-color: #ff6e40;
  --main-red-color: #ff3232;
  --main-yellow-color: #ffc13b;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Default */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.btn {
  padding: 7px 15px;
  border-style: none;
  margin-bottom: 10px;
}
.btn-primary {
  background: var(--main-blue-color);
  color: var(--main-white-color);
}
.btn-block {
  width: 100%;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
/* navbar */
.navbar {
  background-color: var(--main-blue-color);
  /* background-color: #747070; */
  padding: 20px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav h1 {
  /* color: #f5e9e9; */
  color: var(--main-white-color);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.search-zone form {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-zone form select {
  padding: 5px;
  height: 80%;
  border: #383535 1px solid;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
}
.search-zone form select option {
  padding: 5px;
}
.search-zone form .search {
  margin-left: 0px;
  padding: 6px;
  width: 250px;
  height: 80%;
  border: #383535 1px solid;
  border-left: none;
}
.search-zone form .search-icon {
  background-color: var(--main-orange-color);
  color: var(--main-white-color);
  padding: 5px;
  height: 80%;
  width: 40px;
  border-radius: 0px 5px 5px 0px;
}
.nav ul {
  display: flex;
  justify-content: center;
}
.nav ul li {
  margin-right: 25px;
}
.nav ul li a {
  color: var(--main-white-color);
  font-size: 18px;
}
.nav ul li a .cart-icon {
  font-size: 24px;
  color: var(--main-white-color);
}
.nav ul li a .badge {
  position: absolute;
  width: 15px;
  background-color: var(--main-orange-color);
  padding: 0 2px;
  border-radius: 5px;
  top: 18px;
  margin-left: -5px;
}

/* Login page */
.login-screen {
  background: var(--main-white-color);
  width: 800px;
  margin: 3rem auto;
  padding: 40px 15px;
  display: flex;
  justify-content: space-between;
}
.login-screen .login-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-screen h1 {
  margin-bottom: 15px;
  color: var(--main-blue-color);
}
.login-form {
  width: 50%;
}
.login-screen .login-form .form-controll {
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: space-between;
  margin-bottom: 15px;
}
.login-screen .login-form .form-controll label {
  color: var(--main-blue-color);
  font-size: 16px;
}

.login-screen .login-form .form-controll input {
  border: 2px solid var(--main-blue-color);
  padding: 5px 15px;
  border-radius: 5px;
}
.registerLink {
  margin-top: 2rem;
}
