.productSection {
  display: flex;
}
.pImages {
  flex: 1;
}
.pDesc {
  flex: 1;
}
.header {
  color: rgba(0, 0, 0, 1);
  font-size: 3rem;
}
.description {
  margin: 1rem auto;
  color: rgba(0, 0, 0, 0.7);
}
.Pprice {
  margin: 1rem auto;
}
.price {
  font-weight: bolder;
  margin-left: 1rem;
  font-size: 1.5rem;
}
.pImages {
  display: flex;

  text-align: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}
.imagesSection {
  flex: 1;
}
.primaryImage {
  flex: 4;
}
/* .simage {
  width: 10%;
} */
.sImag {
  width: 100%;
  border: rgba(0, 0, 0, 0.7) 1px solid;
  padding: 5px;
}
